<div class="container-resumo">
  <div class="message">
    <i class="far fa-check-circle icon-md-48" aria-hidden="true"></i>
    <h2>Cadastro realizado com sucesso</h2>
  </div>
  <div class="user-data">
    <div class="user">
      <span>Usuário</span>
      <p>{{userData.email}}</p>
    </div>
    <div class="perfil">
      <span>Perfil</span>
      <p>{{userData.perfil.descricao}}</p>
    </div>
  </div>


  <div class="new-search">
    <button mat-button (click)="newSearch()">
      <span>Nova Consulta </span>
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </div>
</div>