<form class="container-form-configuracao-dbjus" [formGroup]="formConfiguracaoDBJus" (submit)="register()" (keydown.enter)="(false)" #formDirective="ngForm">
    <mat-form-field>
        <mat-label>Usuário DBJus</mat-label>
        <input matInput formControlName="nome" placeholder="Usuário DBJus" id="nome" (keyup.enter)="changeFocus()" #nomeRef required />
        <mat-error>{{ validationInput('nome') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Senha DBJus</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="senhaDBJus" placeholder="Senha DBJus" id="senhaDBJus" (keyup.enter)="changeFocus()" #senhaDBJusRef required />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" fontSet="fas" [fontIcon]="!hidePassword ? 'fa-eye' : 'fa-eye-slash'"></mat-icon>
        <mat-error>{{ validationInput('senhaDBJus') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Quantidade de Créditos</mat-label>
            <input
                matInput
                formControlName="quantidadeCreditos"
                placeholder="Quantidade de Créditos"
                id="quantidadeCreditos"
                currencyMask
                [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"
                maxlength="15"
                (keyup.enter)="changeFocus()"
                #quantidadeCreditosRef
                required/>
        <mat-error>{{ validationInput('quantidadeCreditos') }}</mat-error>
    </mat-form-field>

    <div class="container-button">
        <button type="button" mat-button aria-label="Retornar" (click)="handlePreviousStep()">
            <mat-icon fontSet="fas" fontIcon="fa-chevron-left"></mat-icon>
            <span>Retornar</span>
        </button>
        <button type="submit" mat-button aria-label="Cadastrar/Editar">
            <span>{{ isEditing ? 'Editar' : 'Cadastrar' }}</span>
            <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>
        </button>
    </div>
</form>
