<section class="container-sidenav" *ngIf="accessData">
  <button class="closeSidenavButton" (click)="toggleSidenav()">
    <i class="fas fa-times icon-md-24" aria-hidden="true"></i>
  </button>
  <div class="user-info">
    <h2>{{accessData.email}}</h2>
    <p>{{accessData.profile.type}}</p>
  </div>

  <mat-nav-list>
    <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="profileAccess()">Cadastros Gerais</a>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
      <a mat-menu-item (click)="toggleSidenav()" routerLink="/cadastros-gerais/usuarios">Usuários</a>
    </mat-menu>
    <a mat-list-item (click)="toggleSidenav()" routerLink="/consulta-processos">Consulta de Processos</a>
  </mat-nav-list>
</section>