<header class="container-header">
  <mat-toolbar>
    <div class="container-menu-logo">
      <button mat-icon-button aria-label="Menu" [autofocus]="false" class="openSidenavButton" (click)="toggleSidenav()">
        <mat-icon fontSet="fas" fontIcon="fa-bars" class="icon-md-36"></mat-icon>
      </button>
      <div id="logo"></div>
    </div>
    <button mat-icon-button aria-label="logout" (click)="logout()">
      <mat-icon fontSet="fas" fontIcon="fa-power-off" class="icon-md-36"></mat-icon>
    </button>

  </mat-toolbar>
</header>