.container-header {
    .mat-toolbar {
        height: 5rem;
        padding: 0 5rem;
        display: flex;
        justify-content: space-between;

        button {
            border: none;
        }

        .mat-icon {
            width: 100%;
        }

        .mat-icon-button ::ng-deep .mat-button-focus-overlay {
            display: none;
        }

        .container-menu-logo {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }
}
