@import "../../../../assets/variaveis.scss";

.gerenciamento-usuarios-title {
  height: 3rem;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.container-consulta-processos {
  width: 85%;
  margin: 2rem auto;

  .container-consulta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem auto;
    padding: 2.5rem 4rem;

    .container-form {
      .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .criterio-data {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          gap: 1.5rem;

          .mat-form-field {
            width: 100%;
          }
        }

        .container-button {
          display: flex;
          gap: 2rem;

          button {
            width: 100%;
          }
        }
      }
    }

    .wrapper {
      display: flex;

      .container-filtros-selecionados {
        flex-grow: 1;
        .mat-form-field {
          width: 100%;
          .mat-chip {
            .mat-chip-remove {
              transform: scale(1.15);
              opacity: 1;
            }
          }
        }

        ::ng-deep .mat-form-field-outline-end,
        ::ng-deep .mat-form-field-outline-start {
          border: none;
        }

        ::ng-deep .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
          padding-bottom: 0.5rem;
        }
      }

      .export {
        margin: auto 0 auto auto;
        .mat-icon-button {
          width: 100%;
          .mat-icon {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .container-table {
      .result-table {
        width: 100%;
        margin-top: 1rem;
        .mat-header-cell {
          font-size: 1rem;
          font-weight: bold;
        }

        .mat-column-nup {
          width: 19%;
          padding-left: 0;
          text-align: center;
          font-weight: bold;
        }

        .mat-column-uf {
          width: 4%;
          text-align: center;
        }

        #partesAtivas,
        #partesPassivas {
          text-align: center;
        }

        .mat-column-partesAtivas,
        .mat-column-partesPassivas {
          width: 31%;
          text-align: left;
          white-space: pre-line;
        }

        .mat-column-primeiraData {
          width: 7%;
          text-align: center;
        }

        .mat-column-dataUltimaAtualizacao {
          width: 8%;
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: $desktop-medium) {
  .container-consulta-processos {
    width: 90%;
    .container-consulta {
      .result-table {
        .mat-header-cell {
          font-size: 1rem;
        }
        .mat-cell {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: $desktop-base) {
  .container-consulta-processos {
    width: 95%;
    .container-consulta {
      .result-table {
        .mat-header-cell {
          font-size: 0.85rem;
        }
        .mat-cell {
          font-size: 0.75rem;
        }
      }
    }
  }
}
