<div class="gerenciamento-usuarios-title">
  <button mat-icon-button aria-label="Retornar" routerLink="/processos-judiciais/consulta-geral">
    <mat-icon fontSet="fas" fontIcon="fa-chevron-left" class="icon-md-24"></mat-icon>
  </button>
  <h1>Consulta de Processos</h1>
</div>

<div class="container-consulta-processos">

  <div class="container-consulta mat-elevation-z24">
    <div class="container-form">
      <form class="form" [formGroup]="formConsulta" (submit)="search()" #formDirective="ngForm">
        <mat-form-field>
          <mat-label>Razão Social</mat-label>
          <input matInput formControlName="razaoSocial" placeholder="Razão Social" />
          <mat-error>{{validationInput('razaoSocial')}}</mat-error>
        </mat-form-field>

        <div class="criterio-data">
          <mat-form-field>
            <mat-label>Critério por data</mat-label>
            <mat-select formControlName="criterioData">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let option of dateOptions" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data Inicial</mat-label>
            <input matInput formControlName="dataInicial" id="dataInicial" [matDatepicker]="dataInicial" [max]="maxDate"
              (input)="validateEmptyField($event, 'dataInicial')" (focus)="validateEmptyField($event, 'dataInicial')">
            <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
            <mat-datepicker #dataInicial></mat-datepicker>
            <mat-error>{{validationInput('dataInicial')}}</mat-error>
          </mat-form-field>

          <span>até</span>

          <mat-form-field>
            <mat-label>Data Final</mat-label>
            <input matInput formControlName="dataFinal" id="dataFinal" [matDatepicker]="dataFinal" [max]="maxDate"
              (input)="validateEmptyField($event, 'dataFinal')" (focus)="validateEmptyField($event, 'dataFinal')">
            <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
            <mat-error>{{validationInput('dataFinal')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="container-button">
          <button type="submit" class="search" mat-raised-button>Pesquisar</button>
          <button type="button" class="cleanFilter" mat-raised-button (click)="cleanFilter()">Limpar Filtro</button>
        </div>
      </form>
    </div>

    <div class="container-filtros-selecionados" [hidden]="!(filters.length > 0)">
      <mat-form-field class="example-chip-list">
        <mat-chip-list aria-label="Filtros selecionados">
          <mat-chip *ngFor="let filter of filters" (removed)="removeFilter(filter)">
            {{filter.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>

    <div *ngIf="searchResult != null && searchResult.length == 0">
      <p>Nenhum resultado foi encontrado</p>
    </div>

    <div [hidden]="!(searchResult && searchResult.length > 0)">
      <table mat-table [dataSource]="searchResult" class="result-table">

        <ng-container matColumnDef="nup">
          <th mat-header-cell *matHeaderCellDef id="nup"> NUP </th>
          <td mat-cell *matCellDef="let element"> {{element.nup}} </td>
        </ng-container>

        <ng-container matColumnDef="uf">
          <th mat-header-cell *matHeaderCellDef id="uf"> UF </th>
          <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
        </ng-container>

        <ng-container matColumnDef="partesAtivas">
          <th mat-header-cell *matHeaderCellDef id="partesAtivas"> Partes Ativas </th>
          <td mat-cell *matCellDef="let element"> {{element.partesAtivas}}</td>
        </ng-container>

        <ng-container matColumnDef="partesPassivas">
          <th mat-header-cell *matHeaderCellDef id="partesPassivas"> Partes Passivas </th>
          <td mat-cell *matCellDef="let element"> {{element.partesPassivas}}</td>
        </ng-container>

        <ng-container matColumnDef="primeiraData">
          <th mat-header-cell *matHeaderCellDef id="primeiraData"> Primeira Data </th>
          <td mat-cell *matCellDef="let element"> {{element.primeiraData}} </td>
        </ng-container>

        <ng-container matColumnDef="dataUltimaAtualizacao">
          <th mat-header-cell *matHeaderCellDef id="dataUltimaAtualizacao"> Data Última Atualização
          </th>
          <td mat-cell *matCellDef="let element"> {{element.dataUltimaAtualizacao}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator hidePageSize="true" [length]="totalRecords" [pageSize]="pageSize" showFirstLastButtons
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>

</div>