#message-error {
    width: auto;
    display: flex;
    opacity: 1;
    flex-direction: column;

    transition: all 0.5s;

    .error {
        width: 100%;
        margin: 2px 0 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px !important;
        -webkit-box-shadow: 4px 5px 13px -1px rgba($color: #000000, $alpha: 0.3);
        box-shadow: 4px 5px 13px -1px rgba($color: #000000, $alpha: 0.3);
        overflow: hidden;

        .container-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                padding: 0.5rem;
            }

            button {
                background: transparent;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 5px;

                .mat-icon {
                    font-size: 1.563rem;
                }
            }
        }

        .border-error {
            display: flex;
            width: 100%;
            margin-top: 3px;

            .progress-error {
                height: 5px;
                -webkit-border-bottom-right-radius: 10px;
                -webkit-border-bottom-left-radius: 10px;
                -moz-border-radius-bottomright: 10px;
                -moz-border-radius-bottomleft: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;

                transition: width 13s;
            }
        }
    }
}
