.container-detalhes-processo {
    margin: 1rem auto;
    padding: 2rem 4rem;

    h3 {
        font-size: 1.5rem;
    }

    button {
        .mat-icon {
            vertical-align: baseline;
        }
        span {
            margin: 0 0.5rem;
            vertical-align: baseline;
        }
    }

    .header {
        margin-bottom: 1rem;

        h1 {
            text-align: center;
            font-size: 1.7rem;
        }
    }

    .detalhe {
        margin-bottom: 1rem;
        .dados-principais {
            display: flex;
            gap: 2rem;

            .mat-card {
                flex: 1 1 0px;

                ul {
                    margin-top: 1rem;
                    list-style: none;

                    li {
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 0;
                        font-size: 1rem;
                        text-align: end;

                        span:first-child {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .dados-complementares {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .partes {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                align-items: flex-start;

                .mat-card {
                    flex: 1 1 0px;
                    padding: 1rem;

                    ul {
                        margin-top: 1rem;
                        overflow: auto;
                        max-height: 200px;
                        line-height: 1.5rem;
                    }
                }
            }
        }


        .partes-receitaPj {
            padding: 0 1rem 0 1rem;

            .partes-receitaPj-table {
                overflow: auto;
                display: flex;
                flex-direction: column;

                table {
                    width: 100%;

                    .mat-header-cell {
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 0;
                    }

                    .mat-column-cnpj {
                        width: 10%;
                        text-align: center;
                    }

                    .mat-column-nome {
                        width: 15%;
                        text-align: left;
                    }

                    .mat-column-atividadePrincipalDescricao {
                        width: 15%;
                        text-align: left;
                    }

                    .mat-column-situacao {
                        width: 7%;
                        text-align: left;
                    }

                    .mat-column-capitalSocial {
                        width: 7%;
                        text-align: right;
                    }

                    .mat-column-endereco {
                        width: 26%;                        
                        padding-left: 1em;
                        text-align: left;
                    }

                    .mat-column-telefone {
                        width: 10%;
                        text-align: left;
                    }

                    .mat-column-email {
                        width: 10%;
                        padding-left: 1em;
                        padding-right: 0;
                        text-align: left;
                    }                    
                }
            }
        }

        .andamentos {
            padding: 0 1rem 0 1rem;

            .andamentos-table {
                height: 400px;
                overflow: auto;
                display: flex;
                flex-direction: column;

                table {
                    width: 100%;

                    .mat-header-cell {
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 0;
                    }

                    .mat-column-data {
                        width: 20%;
                        text-align: center;
                    }

                    .mat-column-descricao {
                        width: 20%;
                        text-align: left;
                    }

                    .mat-column-detalhe {
                        width: 60%;
                        text-align: left;
                    }
                }

                .mat-button {
                    margin-top: 1rem;
                }
            }
        }
    }
}
