<section class="container-detalhes-processo mat-elevation-z24">
    <div class="header">
        <button mat-button aria-label="Retornar" (click)="return()">
            <mat-icon fontSet="fas" fontIcon="fa-chevron-left"></mat-icon>
            <span>Retornar</span>
        </button>
        <h1>Detalhes do Processo</h1>
    </div>
    <div class="detalhe">
        <div class="dados-principais">
            <mat-card>
                <h3>Dados do Processo</h3>
                <mat-divider inset></mat-divider>
                <ul>
                    <li>
                        <span>NUP:</span> <span>{{ dadosProcesso.nup }}</span>
                    </li>
                    <li>
                        <span>Valor da Causa:</span> <span>{{ dadosProcesso.valorCausa }}</span>
                    </li>
                    <li>
                        <span>Data Autuação:</span> <span>{{ dadosProcesso.dataAutuacao }}</span>
                    </li>
                    <li>
                        <span>Data Inicial:</span> <span>{{ dadosProcesso.dataInicial }}</span>
                    </li>
                </ul>
            </mat-card>

            <mat-card>
                <h3>Localidade Jurídica</h3>
                <mat-divider inset></mat-divider>
                <ul>
                    <li>
                        <span>Vara:</span> <span>{{ dadosProcesso.vara }}</span>
                    </li>
                    <li>
                        <span>Comarca:</span> <span>{{ dadosProcesso.comarca }}</span>
                    </li>
                    <li>
                        <span>UF:</span> <span>{{ dadosProcesso.uf }}</span>
                    </li>
                </ul>
            </mat-card>
        </div>

        <div class="dados-complementares">
            <div class="partes">
                <mat-card>
                    <h3>Partes Ativas</h3>
                    <mat-divider inset></mat-divider>
                    <ul>
                        <li *ngFor="let parte of dadosProcesso.ativas">{{ parte }}</li>
                    </ul>
                </mat-card>

                <mat-card>
                    <h3>Partes Passivas</h3>
                    <mat-divider inset></mat-divider>
                    <ul>
                        <li *ngFor="let parte of dadosProcesso.passivas">{{ parte }}</li>
                    </ul>
                </mat-card>

                <mat-card *ngIf="dadosProcesso.outras.length > 0">
                    <h3>Outras Partes</h3>
                    <mat-divider inset></mat-divider>
                    <ul>
                        <li *ngFor="let parte of dadosProcesso.outras">{{ parte }}</li>
                    </ul>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <div class="andamentos">
                <h3>Andamentos do Processo</h3>
                <div class="andamentos-table">
                    <table mat-table [dataSource]="dadosProcesso.andamentos">
                        <ng-container matColumnDef="data">
                            <th mat-header-cell *matHeaderCellDef>Data</th>
                            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
                        </ng-container>
                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef>Descrição</th>
                            <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
                        </ng-container>
                        <ng-container matColumnDef="detalhe">
                            <th mat-header-cell *matHeaderCellDef>Detalhe</th>
                            <td mat-cell *matCellDef="let element">{{ element.detalhe }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <button mat-button (click)="showMore()" *ngIf="dadosProcesso.andamentos.length != formatAndamentos().length">Ver mais</button>
                </div>
            </div>
        </div>
    </div>

    <button mat-button aria-label="Retornar" (click)="return()">
        <mat-icon fontSet="fas" fontIcon="fa-chevron-left"></mat-icon>
        <span>Retornar</span>
    </button>
</section>
