.container-dialog {
    width: 500px;
    margin: 1rem;

    .mat-dialog-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }

    .mat-dialog-content {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1rem;
        overflow: visible;
    }

    .mat-dialog-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            font-size: 1.3rem;
            width: 40%;
        }
    }
}
