<div class="container-title">
    <button mat-icon-button aria-label="Retornar" routerLink="/historico-consultas/analitico">
        <mat-icon fontSet="fas" fontIcon="fa-chevron-left" class="icon-md-24"></mat-icon>
    </button>
    <h1>Historico de Consultas Analítico</h1>
</div>

<div class="container-historico-consultas-analitico">
    <mat-horizontal-stepper linear #stepper>
        <mat-step>
            <ng-template matStepContent>
                <app-historico-consultas-analitico-visualizar-historicos></app-historico-consultas-analitico-visualizar-historicos>
            </ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>