<div class="container-historico-consultas-analitico-visualizar-historicos mat-elevation-z24">
    <div class="container-form">
        <form class="form" [formGroup]="formConsulta" (submit)="search()" #formDirective="ngForm">  
            <mat-form-field *ngIf="isAdministrador()">
                <mat-label>Usuário</mat-label>
                <mat-select formControlName="usuarioEmail">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let option of usuarios" [value]="option.email">
                        {{ option.email }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="filtros-pesquisa">
                <mat-form-field>
                    <mat-label>Tipo de consulta</mat-label>
                    <mat-select formControlName="tipoConsulta">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let option of tipoConsultaOptions" [value]="option.value">
                            {{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Situação da consulta</mat-label>
                    <mat-select formControlName="situacaoConsulta">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let option of situacaoConsultaOptions" [value]="option.value">
                            {{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data Inicial</mat-label>
                    <input
                        matInput
                        formControlName="dataInicial"
                        id="dataInicial"
                        [matDatepicker]="dataInicial"
                        [max]="maxDate"
                        (input)="validateEmptyField($event, 'dataInicial')"
                        (focus)="validateEmptyField($event, 'dataInicial')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
                    <mat-datepicker #dataInicial></mat-datepicker>
                    <mat-error>{{ validationInput('dataInicial') }}</mat-error>
                </mat-form-field>

                <span>até</span>

                <mat-form-field>
                    <mat-label>Data Final</mat-label>
                    <input
                        matInput
                        formControlName="dataFinal"
                        id="dataFinal"
                        [matDatepicker]="dataFinal"
                        [max]="maxDate"
                        (input)="validateEmptyField($event, 'dataFinal')"
                        (focus)="validateEmptyField($event, 'dataFinal')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
                    <mat-datepicker #dataFinal></mat-datepicker>
                    <mat-error>{{ validationInput('dataFinal') }}</mat-error>
                </mat-form-field>
            </div>

            <div class="container-button">
                <button type="submit" class="search" mat-raised-button>Pesquisar</button>
                <button type="button" class="cleanFilter" mat-raised-button (click)="cleanFilter()">Limpar Filtro</button>
            </div>
        </form>
    </div>

    <div class="wrapper">
        <div class="container-filtros-selecionados" [hidden]="!(filters.length > 0)">
            <mat-form-field class="example-chip-list">
                <mat-chip-list aria-label="Filtros selecionados">
                    <mat-chip *ngFor="let filter of filters" (removed)="removeFilter(filter)">
                        {{ filter.name }}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
        </div>

        <div class="export" matTooltip="Exportar" matTooltipPosition="above" *ngIf="searchResult && searchResult.length > 0">
            <button mat-icon-button [matMenuTriggerFor]="exportMenu" aria-label="Exportar históricos">
                <mat-icon fontSet="fas" fontIcon="fa-file-export" class="icon-md-24"></mat-icon>
                <span>Exportar</span>
            </button>
            <mat-menu class="menu-export" #exportMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="export()">
                    <mat-icon fontSet="fas" fontIcon="fa-file-download" class="icon-md-24"></mat-icon>
                    <span>Exportar em XLSX</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div *ngIf="searchResult != null && searchResult.length == 0">
        <p>Nenhum resultado foi encontrado</p>
    </div>

    <div class="container-table" [hidden]="!(searchResult && searchResult.length > 0)">
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="searchResult" class="result-table">

            <ng-container matColumnDef="dataConsulta">
                <th mat-header-cell *matHeaderCellDef id="dataConsulta">Data Consulta</th>
                <td mat-cell *matCellDef="let element">{{ element.dataConsulta }}</td>
            </ng-container>

            <ng-container matColumnDef="usuarioEmail">
                <th mat-header-cell *matHeaderCellDef id="usuarioEmail" [hidden]="!isAdministrador()">Usuário</th>
                <td mat-cell *matCellDef="let element" [hidden]="!isAdministrador()">{{ element.usuarioEmail }}</td>
            </ng-container>

            <ng-container matColumnDef="razaoSocial">
                <th mat-header-cell *matHeaderCellDef id="razaoSocial">Razão Social</th>
                <td mat-cell *matCellDef="let element">{{ element.razaoSocial }}</td>
            </ng-container>

            <ng-container matColumnDef="nup">
                <th mat-header-cell *matHeaderCellDef id="nup">NUP</th>
                <td mat-cell *matCellDef="let element">{{ element.nup }}</td>
            </ng-container>

            <ng-container matColumnDef="valorCausa">
                <th mat-header-cell *matHeaderCellDef id="valorCausa">Valor Causa</th>
                <td mat-cell *matCellDef="let element">{{ element.valorCausa | currency:' ':'symbol':'1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="criterioData">
                <th mat-header-cell *matHeaderCellDef id="criterioData">Critério</th>
                <td mat-cell *matCellDef="let element">{{ getDescricaoCriterioData(element.criterioData) }}</td>
            </ng-container>

            <ng-container matColumnDef="dataInicial">
                <th mat-header-cell *matHeaderCellDef id="dataInicial">Data Inicial</th>
                <td mat-cell *matCellDef="let element">{{ element.dataInicial }}</td>
            </ng-container>

            <ng-container matColumnDef="dataFinal">
                <th mat-header-cell *matHeaderCellDef id="dataFinal">Data Final</th>
                <td mat-cell *matCellDef="let element">{{ element.dataFinal }}</td>
            </ng-container>

            <ng-container matColumnDef="tribunais">
                <th mat-header-cell *matHeaderCellDef id="tribunais">Tribunais</th>
                <td mat-cell *matCellDef="let element">{{ element.tribunais }}</td>
            </ng-container>

            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef id="uf">UF</th>
                <td mat-cell *matCellDef="let element">{{ element.uf }}</td>
            </ng-container>

            <ng-container matColumnDef="pagina">
                <th mat-header-cell *matHeaderCellDef id="pagina">Página</th>
                <td mat-cell *matCellDef="let element">{{ element.pagina }}</td>
            </ng-container>

            <ng-container matColumnDef="tipoConsulta">
                <th mat-header-cell *matHeaderCellDef id="tipoConsulta">Tipo</th>
                <td mat-cell *matCellDef="let element">{{ getDescricaoTipoConsulta(element.tipoConsulta) }}</td>
            </ng-container>

            <ng-container matColumnDef="situacaoConsulta">
                <th mat-header-cell *matHeaderCellDef id="situacaoConsulta">Situação</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon style="color: green" *ngIf="element.situacaoConsulta === 'Sucesso'" matTooltip="Sucesso">check_circle_outline</mat-icon>
                    <mat-icon style="color: red" *ngIf="element.situacaoConsulta === 'Erro'" matTooltip="Erro">error</mat-icon>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="quantidadeCreditos">
                <th mat-header-cell *matHeaderCellDef id="quantidadeCreditos">Créditos</th>
                <td mat-cell *matCellDef="let element">{{ element.quantidadeCreditos | currency:' ':'symbol':'1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="json">
                <th mat-header-cell *matHeaderCellDef id="json">JSON</th>
                <td mat-cell *matCellDef="let element">
                    <button class="mat-button-json" mat-menu-item (click)="visualizarResultado(element)" *ngIf="element.situacaoConsulta === 'Sucesso'">
                        <mat-icon matTooltip="Visualizar JSON">code</mat-icon>
                    </button>                    
                </td>
            </ng-container>

            <ng-container matColumnDef="saldoDisponivel">
                <td mat-footer-cell *matFooterCellDef colspan="5">Saldo de crédito disponível: {{ saldoDisponivel | currency:' ':'symbol':'1.2-2' }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="['saldoDisponivel']" class="footer-saldo-disponivel" [style.display]="showSaldoDisponivel ? 'table-row' : 'none'"></tr>          

        </table>

        <mat-paginator hidePageSize="true" [length]="totalRecords" [pageSize]="pageSize" showFirstLastButtons (page)="onPageChange($event)"> </mat-paginator>
    </div>
</div>
