.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

.icon-md-18 {
    font-size: 18px;
}
.icon-md-24 {
    font-size: 24px;
}
.icon-md-36 {
    font-size: 36px;
}
.icon-md-48 {
    font-size: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container-principal {
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.mat-sidenav-container {
    height: 100vh;
}
